<div class="forum-message is-reply mb-4">
    <div class="forum-avatar">
        <img src="{{ asset('/images/faces/1.jpg') }}"
             class="avatar rounded-circle border border-4 border-white-color-40" alt="">
    </div>
    <div id="forum-message" class="bg-white {% if message.accepted %}is-accepted{% endif %} rounded-bottom smooth-shadow-sm mb-3 pt-4 pb-3 px-4">
        <div class="forum-message__header mb-3">
            <div class="forum-message__author">
                {{ message.author.username }}
            </div>
            {% if topic.author == message.author %}
                <div class="pill pill-darkgrey small">
                    Auteur
                </div>
            {% endif %}
            <div class="forum-message__meta">
                , {{ message.createdAt | ago }}
                {% if message.accepted == false %}
                    {#<forum-edit message="{{ message.id }}" owner="{{ message.author.id }}"></forum-edit>
                <forum-delete message="{{ message.id }}" owner="{{ message.author.id }}"></forum-delete>#}
                {% endif %}
            </div>
            {% if message.accepted %}
                <div class="pill pill-green small">
                    Réponse acceptée
                </div>
            {% endif %}
            {% if app.user is same as message.topic.author %}
                <div class="forum-message__actions">
                    <forum-solve
                            message="{{ message.id }}"
                            topic="{{ message.topic.id }}"
                            {% if message.accepted %}
                                disabled={{ true }}
                            {% else %}
                                disable={{ false }}
                            {% endif %}
                    />
                </div>
            {% endif %}
        </div>
        <div class="forum-message__body">
            {{ message.content | raw }}
        </div>
    </div>
</div>