{% extends 'base/base.html.twig' %}

{% block title %}Unite d'enseignement{% endblock %}

{% block body %}
    <div class="bg-primary pt-10 pb-21"></div>
    <div class="container-fluid mt-n22 px-6">
    <div class="row">
        {% include 'components/_page_header.html.twig' with { title : 'Tableau de bord' } %}
    </div>
    <div class="row mt-6 mb-3">
    <div class="col-md-12 col-12">
        <!-- card  -->
        <div class="card">
            <!-- card header  -->
            {% include 'components/_card_title.html.twig' with {
                title: "Les Unités d'enseignement",
                btn_title: 'Ajouter une U.E',
                path: path('create_ue')
            } %}

            <!-- table  -->
            <div class="card-body">
                <table id="datatable" class="table table-responsive table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Nom UE</th>
                        <th class="text-center">Filières</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ue in ues %}
                        <tr class="text-center">
                            <td>{{ ue.nom }}</td>
                            <td>
                                {% if ue.filieres|length < 2 %}
                                    {% for filiere in ue.filieres %}
                                        {{ filiere }}
                                    {% endfor %}
                                {% else %}
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Filiere
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% for filiere in ue.filieres %}
                                                <li class="dropdown-item">
                                                    {{ filiere.nom }}
                                                </li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('update_ue', {id: ue.id}) }}"><i class="fa fa-cog"></i></a>
                                <a class="btn-sm btn-danger mx-3" href="{{ path('delete_ue', {id: ue.id}) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimé?');"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}