<div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
    <!-- card -->
    <div class="card">
        <!-- card body -->
        <div class="card-body">
            <!-- card title -->
            <h4 class="card-title mb-4">A propos</h4>
            <span class="text-uppercase fw-medium text-dark fs-5 ls-2">Bio</span>
            <!-- text -->
            <p class="mt-2 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen disse
                var ius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <!-- row -->
            <div class="row">
                <div class="col-6 d-md-none d-block mb-5">
                    <h6 class="text-uppercase fs-5 ls-2">Nom </h6>
                    <p class="mb-0">{{ user.username }}</p>
                </div>
                <div class="col-6 mb-5">
                    <h6 class="text-uppercase fs-5 ls-2">Email </h6>
                    <p class="mb-0">{{ user.email }}</p>
                </div>
                {% if user.filiere and user.niveau is not null %}
                    <div class="col-12 mb-5">
                        <!-- text -->
                        <h6 class="text-uppercase fs-5 ls-2">Filiere
                        </h6>
                        <p class="mb-0">{{ user.filiere }}.| {{ user.niveau }}</p>
                    </div>
                {% endif %}
                <div class="col-6 mb-5">
                    <h6 class="text-uppercase fs-5 ls-2">Numero </h6>
                    <p class="mb-0">(+237) {{ user.numeroTelephone }}</p>
                </div>
                <div class="col-6 mb-5">
                    <h6 class="text-uppercase fs-5 ls-2">Date de naissance </h6>
                    <p class="mb-0">01.10.1997</p>
                </div>
                {% if user.numeroCni is not null %}
                    <div class="col-6 mb-5">
                        <h6 class="text-uppercase fs-5 ls-2">Numero CNI
                        </h6>
                        <p class="mb-0">{{ user.numeroCni }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
