<div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
    <!-- card -->
    <div class="card">
        <!-- card body -->
        <div class="card-body">
            <!-- card title -->
            <h4 class="card-title mb-4">Dernier cours ajouté</h4>
            <div class="d-md-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center">
                    <div>
                        <div class="icon-shape icon-lg border p-4 rounded-1">
                            <img src="{{ asset('images/brand/dropbox-logo.svg') }}" alt="">
                        </div>
                    </div>
                    <!-- text -->
                    <div class="ms-3 ">
                        <h5 class="mb-1"><a href="#" class="text-inherit">Slack Figma Design
                                UI</a></h5>
                        <p class="mb-0 fs-5 text-muted">taille: 2 Mo | il y'a 2 jours</p>
                    </div>
                </div>
            </div>
            <div class="d-md-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center">
                    <div>
                        <!-- icon shape -->
                        <div class="icon-shape icon-lg border p-4 rounded-1">
                            <img src="{{ asset('images/brand/dropbox-logo.svg') }}" alt="">
                        </div>
                    </div>
                    <!-- text -->
                    <div class="ms-3 ">
                        <h5 class="mb-1"><a href="#" class="text-inherit">Design 3d Character</a></h5>
                        <p class="mb-0 fs-5 text-muted">taille: 2 Mo | il y'a 2 jours</p>
                    </div>
                </div>
            </div>
            <div class="d-md-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center">
                    <div>
                        <!-- icon shape -->
                        <div class="icon-shape icon-lg border p-4 rounded-1">
                            <img src="{{ asset('images/brand/dropbox-logo.svg') }}" alt="">
                        </div>
                    </div>
                    <!-- text -->
                    <div class="ms-3 ">
                        <h5 class="mb-1"><a href="#" class="text-inherit">Github Development</a></h5>
                        <p class="mb-0 fs-5 text-muted">taille: 2 Mo | il y'a 2 jours</p>
                    </div>
                </div>
            </div>
            <div class="d-md-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center">
                    <!-- icon shape -->
                    <div>
                        <div class="icon-shape icon-lg border p-4 rounded-1">
                            <img src="{{ asset('images/brand/dropbox-logo.svg') }}" alt="">
                        </div>
                    </div>
                    <!-- text -->
                    <div class="ms-3 ">
                        <h5 class="mb-1"><a href="#" class="text-inherit">Dropbox Design
                                System</a></h5>
                        <p class="mb-0 fs-5 text-muted">taille: 2 Mo | il y'a 2 jours</p>
                    </div>
                </div>
            </div>
            <div class="d-md-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center">
                    <!-- icon shape -->
                    <div>
                        <div class="icon-shape icon-lg border p-4 rounded-1">
                            <img src="{{ asset('images/brand/dropbox-logo.svg') }}" alt="">
                        </div>
                    </div>
                    <!-- text -->
                    <div class="ms-3 ">
                        <h5 class="mb-1"><a href="#" class="text-inherit">Dropbox Design
                                System</a></h5>
                        <p class="mb-0 fs-5 text-muted">taille: 2 Mo | il y'a 2 jours</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
