{{ form_start(form) }}
<div class="form-group">
    <label>Nom <span class="text-danger">*</span></label>
    {{ form_row(form.nom) }}
</div>
<div class="form-group">
    <label>Niveau d'appartenance <span class="text-danger">*</span></label>
    {{ form_row(form.niveau) }}
</div>
<div class="form-group">
    <label>Pour quel filiere? <span class="text-danger">*</span></label>
    {{ form_row(form.filieres) }}
</div>
<div class="submit-section">
    <button class="btn btn-primary submit-btn">Enregistrer</button>
</div>
{{ form_end(form) }}