<div class="row mb-8">
    <div class="col-xl-3 col-lg-4 col-md-12 col-12">
        <div class="mb-4 mb-lg-0">
            <h4 class="mb-1">Paramètre d'E-mail & Mot de passe</h4>
            <p class="mb-0 fs-5 text-muted">Modifier votre adresse email et votre mot de passe </p>
        </div>

    </div>

    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
        <!-- card -->
        <div class="card" id="edit">
            <!-- card body -->
            <div class="card-body">
                <div class="mb-6">
                    <h4 class="mb-1">Email</h4>
                </div>
                {{ form_start(emailSetting) }}
                <!-- row -->
                <div class="mb-3 row">
                    <!-- label -->
                    <label for="newEmailAddress" class="col-sm-4
                        col-form-label form-label">Nouvelle E-mail</label>
                    <div class="col-md-8 col-12">
                        <!-- input -->
                        {{ form_row(emailSetting.email) }}
                    </div>
                    <!-- button -->
                    <div class="offset-md-4 col-md-8 col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    </div>
                </div>
                {{ form_end(emailSetting) }}

                <div class="mb-6 mt-6">
                    <h4 class="mb-1">Modifier le mot de passe</h4>
                </div>
                {{ form_start(passwordSetting) }}
                <!-- row -->
                <div class="mb-3 row">
                    <label for="currentPassword" class="col-sm-4
                        col-form-label form-label">Mot de passe actuel</label>

                    <div class="col-md-8 col-12">
                        {{ form_row(passwordSetting.oldPassword) }}
                    </div>
                </div>
                <!-- row -->
                <div class="mb-3 row">
                    <label for="currentNewPassword" class="col-sm-4
                        col-form-label form-label">Nouveau mot de passe</label>

                    <div class="col-md-8 col-12">
                        {{ form_row(passwordSetting.password) }}
                    </div>
                </div>
                <!-- row -->
                <div class="row align-items-center">
                    <label for="confirmNewpassword" class="col-sm-4 col-form-label form-label">Confirmé le mot de
                        passe</label>
                    <div class="col-md-8 col-12 mb-2 mb-lg-0">
                        {{ form_row(passwordSetting.confirmPassword) }}
                    </div>
                    <!-- list -->
                    <div class="offset-md-4 col-md-8 col-12 mt-4">
                        <h6 class="mb-1">Pour la sécurité de votre compte respecter ces directives</h6>
                        <p>Assurer vous d'avoir au :</p>
                        <ul>
                            <li> minimum 8 caractères</li>
                            <li> moins une minuscule</li>
                            <li> moins une majuscule</li>
                            <li> moins un numero, un symbole ou un caractère special</li>
                        </ul>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </div>
                {{ form_end(passwordSetting) }}
            </div>
        </div>
    </div>
</div>
