{{ form_start(form) }}
<div class="form-group">
    <label>Nom <span class="text-danger">*</span></label>
    {{ form_row(form.nom) }}
</div>
<div class="form-group">
    <label>Niveau d'appartenance <span class="text-danger">*</span></label>
    {{ form_row(form.niveau) }}
</div>
<div class="form-group">
    <label>Les Filières <span class="text-danger">*</span></label>
    {{ form_row(form.filieres) }}
</div>
<div class="form-group">
    <label>Unité d'enseignement <span class="text-danger">*</span></label>
    {{ form_row(form.UE) }}
</div>
<div class="form-group">
    <label>Ajouter le cour <span class="text-danger">*</span></label>
    {{ form_row(form.cour) }}
</div>
<div class="submit-section">
    <button class="btn btn-primary submit-btn">Enregistrer</button>
</div>
{{ form_end(form) }}