{% extends 'base/base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <div class="bg-primary pt-10 pb-21"></div>
    <div class="container-fluid mt-n22 px-6">
    <div class="row">
        <div class="col-12">
            <!-- Page header -->
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mb-2 mb-lg-0">
                        <h3 class="mb-0 fw-bold text-white">Tableau de bord</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-6 mb-3">
    <div class="col-md-12 col-12">
        <!-- card  -->
        <div class="card">
            <!-- card header  -->
            <div class="card-header border-bottom-0 w-100 py-4">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-0 w-50">Listes des Cours</h4>
                    </div>
                    <div class="ms-auto col-12 col-md-3  text-end">
                        <button type="button" class="btn btn-primary btn-sm"
                                data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                            Ajouter un cour
                        </button>
                    </div>
                </div>
            </div>

            <!-- table  -->
            <div class="card-body">
                <table id="datatable" class="table table-responsive table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Nom </th>
                        <th class="text-center">U.E</th>
                        <th class="text-center">Taille </th>
                        <th class="text-center">Filieres</th>
                        <th class="text-center">Niveau</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cour in cours %}
                        <tr class="text-center">
                            <td class="text-center">{{ cour.nom }}</td>
                            <td class="text-center">{{ cour.UE }}</td>
                            <td class="text-center">{{ cour.tailleCour }}</td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Filiere
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for filiere in cour.filieres  %}
                                            <li class="dropdown-item">{{filiere.nom }}</li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{ cour.niveau }}</td>
                            <td class="text-center">
                                <i class="fa fa-cog"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ include('admin/enseignement/cour/includes/_form.html.twig') }}
{% endblock %}