{% extends 'base/base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <div class="bg-primary pt-10 pb-21"></div>
    <div class="container-fluid mt-n22 px-6">
    <div class="row">
        {% include 'components/_page_header.html.twig' with { title : 'Tableau de bord' } %}
    </div>
    <div class="row mt-6 mb-3">
    <div class="col-md-12 col-12">
        <!-- card  -->
        <div class="card">
            <!-- card header  -->
            {% include 'components/_card_title.html.twig' with {
                title: "Listes des Cours",
                btn_title: 'Ajouter un cour',
                path: path('create_cour')
            } %}

            <!-- table  -->
            <div class="card-body">
                <table id="datatable" class="table table-responsive table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Nom </th>
                        <th class="text-center">U.E</th>
                        <th class="text-center">Taille </th>
                        <th class="text-center">Filieres</th>
                        <th class="text-center">Niveau</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cour in cours %}
                        <tr class="text-center">
                            <td class="text-center">{{ cour.nom }}</td>
                            <td class="text-center">{{ cour.UE }}</td>
                            <td class="text-center">{{ cour.tailleCour }}</td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Filiere
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for filiere in cour.filieres  %}
                                            <li class="dropdown-item">{{filiere.nom }}</li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{ cour.niveau }}</td>
                            <td class="text-center">
                                <a  href="{{ path('update_cour', {id: cour.id}) }}"><i class="fa fa-cog"></i></a>
                                <a class="mx-3" href="{{ path('delete_cour', {id: cour.id}) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimé?');">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}