{% extends 'base/base.html.twig' %}

{% block title %}Cours{% endblock %}
{% block style %}style="min-height: 647px;"{% endblock %}
{% block page_title %}Gestion des cours{% endblock %}
{% block page %}cours{% endblock %}

{% block add %}
    <div class="col-auto float-right ml-auto">
        <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_cour"><i class="fa fa-plus"></i>
            Ajouter un cour</a>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped custom-table mb-0">
                    <thead>
                    <tr class="text-center">
                        <th>Nom </th>
                        <th>U.E</th>
                        <th>Taille </th>
                        <th>Filieres</th>
                        <th>Niveau</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cour in cours %}
                        <tr class="text-center">
                            <td>{{ cour.nom }}</td>
                            <td>{{ cour.UE }}</td>
                            <td>{{ cour.tailleCour }}</td>
                            <td>
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-dot-circle-o text-white"></i> Filieres
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-left" style="">
                                        {% for filiere in cour.filieres  %}
                                            <li class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>{{filiere.nom }}</li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td>{{ cour.niveau }}</td>
                            <td class="text-right">
                                {{ include('admin/enseignement/cour/includes/_delete.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ include('admin/enseignement/cour/includes/_form.html.twig') }}
{% endblock %}