{% extends 'base/base.html.twig' %}

{% block title %}Enseignant{% endblock %}
{% block style %}style="min-height: 647px;"{% endblock %}
{% block page_title %}Enseignant{% endblock %}
{% block page %}enseignant{% endblock %}

{% block add %}
    <div class="col-auto float-right ml-auto">
        <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i>
            Ajouter enseignant</a>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-md">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table table-striped custom-table no-footer">
                                <thead>
                                <tr role="row">
                                    <th style="width: 145.766px;">Name</th>
                                    <th style="width: 187.391px;">Email</th>
                                    <th style="width: 88.6719px;">N° CNI</th>
                                    <th style="width: 65.4219px;">Mobile</th>
                                    <th style="width: 112.875px;">Role</th>
                                    <th style="width: 46.8281px;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for enseignant in enseignants %}
                                    <tr>
                                        <td class="sorting_1">
                                            <h2 class="table-avatar">
                                                <li class="list-unstyled">
                                                    {{ enseignant.nom }} {{ enseignant.prenom }}
                                                    <span>Web Developer</span>
                                                </li>
                                            </h2>
                                        </td>
                                        <td>{{ enseignant.email }}</td>
                                        <td>{{ enseignant.numeroCni }}</td>
                                        <td>{{ enseignant.numeroTelephone }}</td>
                                        <td>

                                            <li class="btn btn-white btn-sm btn-rounded"
                                            >{{ enseignant.poste }} </li>
                                        </td>
                                        <td class="text-right">
                                            {{ include('admin/enseignant/includes/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    {{ include('admin/enseignant/includes/_form.html.twig') }}
{% endblock %}
