{% extends 'base/base.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <div class="bg-primary pt-10 pb-21"></div>
    <div class="container-fluid mt-n22 px-6">
        <div class="row">
            {% include 'components/_page_header.html.twig' with { title : 'Tableau de bord' } %}
        </div>
        <div class="row mt-6 mb-3">
            <div class="col-md-12 col-12">
                <!-- card  -->
                <div class="card">
                    <!-- card header  -->
                    {% include 'components/_card_title.html.twig' with {
                        title: 'Liste des enseignants',
                        btn_title: 'Ajouter un enseignant',
                        path: path('create_teacher')
                    } %}

                    <!-- table  -->
                    <div class="card-body">
                        <table id="datatable" class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th >Nom</th>
                                <th >Email</th>
                                <th >N° CNI</th>
                                <th >Tel</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for enseignant in enseignants %}
                                <tr>
                                    <td >{{ enseignant.nom }}</td>
                                    <td >{{ enseignant.email }}</td>
                                    <td >{{ enseignant.numeroCni }}</td>
                                    <td >{{ enseignant.numeroTelephone }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('update_teacher', {id: enseignant.id}) }}"><i class="fa fa-cog"></i></a>
                                        <a class="btn-sm btn-danger mx-3" href="{{ path('delete_teacher', {id: enseignant.id}) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimé?');"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
